*{
	margin:0;
	padding:0;
}
body{
	background-color:#C7ECE8;
	margin:1em auto;
	width:80%;
	
}
label{
	display:block;
	margin: 1em 0 0 0;
}
input{

}
table{
	border:0.1em solid red;
	padding: 3px;
}
th{
	color:blue;
	border:0.1em solid red;
	width: 100px;
}
a{
	border:.1em solid blue;
	width:100px;
}
nav{
	margin:0 auto;
}